.skip-icon {
    transform: scale(3);
    text-align: center;
    color: aqua;
    animation: bounce 4s infinite;
    bottom: 3.5em;
    z-index: 2;
}


@keyframes bounce {
    0%, 100% {
        transform: scale(3) translateY(0);
    }
    50% {
        transform: scale(3) translateY(-10px);
    }
}
