.main3 {
    height: 100%;
    width: 100%;
    background-color: #1c1e26;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.arrow-icon-container {
    
        position: relative;
        top: 9.5em;
 
}