body {
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide any overflow */
    margin: 0;
    padding: 0;
  }




  .heroImage {
    position: relative;
    width: 100%; /* Adjust to fit within the desired container size */
    height: 100vh; /* Adjust to fit within the desired container height */
    background-size: cover; /* Ensure the image fits within the container without being cropped */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heroImage h1 {
    font-size: 8em;
    color: #e6e1e1;
    position: relative;
    bottom: 1.75em;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
  }
  
  .heroTitle {
    position: relative;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background for readability */
    color: #e6e1e1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    backdrop-filter: blur(10px);
  }

  