.arrow-icon {
    position: relative;
    bottom: 3.5em;
    text-align: center;
    color: aqua;
    animation: bounce 4s infinite;
    z-index: 2;
    background: none;
    transform: scale(3);
}

.arrow-flex {
    width: 100vw;
    background-color: #1c1e26;
}


@keyframes bounce {
    0%, 100% {
        transform: scale(3) translateY(0);
    }
    50% {
        transform: scale(3) translateY(-10px);
    }
}
