* {
    box-sizing: border-box;
}

.diy {
    height: 100vh;
    width: 100vw;
    background-color: #1c1e26;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
   
}

.container1 {
    background-color: #e6e1e1;
    height: 80%;
    width: 80%;
    border-radius: 50px;
    overflow: hidden; /* Ensure container doesn't overflow */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.container1 h1 {
    text-align: center;
    margin-top: 0px; 
}

.big-inner1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
    width: 100%;
    border-top: maroon double 10px;
    padding-top: 20px; /* Add some padding to the top */
}

.big-inner2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: flex-start; /* Align items at the start */
    height: 50%; /* Adjusted height to fit within container */
    width: 100%;
    border-top: maroon double 10px;
    border-bottom: maroon double 10px;
    padding-top: 0px; /* Add some padding to the top */
    /* padding-bottom: 20px; */
    margin-bottom: 0;
}

.big-inner2 h3 {
    text-align: center;
}

.inner-container1 {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px; /* Add padding for spacing */
}

input {
    border-radius: 10px;
    border: 2px solid gray;
    padding: 8px 12px;
}

.inner-container1-list {
    width: 40%;
    height: 80%;
    overflow: auto;
    padding: 15px; 
    text-align: center;
}

.inner-container1-list ul {
    list-style-type: none;
    padding: 0; /* Reset padding */
    margin: 0; /* Reset margin */
}

.inner-container1-list li {
    margin-bottom: 10px; /* Add margin to create space between list items */
    cursor: pointer;
    transition: ease-in-out .25s;
}

.inner-container1-list li:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.drink-listings-container {
    overflow: auto;
    height: 100%;
    position: relative;
    right: 1.5em;
}

.form {
    width: 100%;
}

.diy-arrow {
    position: relative;
    top: 9.5em;
}

.inner-container1 h3 {
    display: block;
    width: 100%;
}

.selected-drink-image {
    /* margin-top: 20px; */
    text-align: center;
    width: 40%;
    height: 100%; /* Ensure image does not overflow */
   
}

.selected-drink-image img {
    max-width: 100%;
    max-height: 100%; /* Ensure image does not overflow */
    border-radius: 10px; 
    transform: scale(.9);
}

.big-inner2-instructions {
    width: 40%;
    height: 100%; /* Adjust height to take full available space */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    padding: 20px; 
    margin: 0;
}

.big-inner2-instructions h3 {
    position: static;
    top: 0;
    background-color: #e6e1e1;
    width: 100%;
    padding: 10px 0;
    z-index: 1;
}

.ingredients-measurements {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 50%; /* Adjust height to fit within the container */
    overflow-y: auto; /* Enable vertical scrolling */
    /* margin-top: 20px; */
    text-align: center;
}

.measurements-list, .ingredients-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%; /* Ensure the lists take full width */
}

.instructions-container {
    width: 30%;
    height: 80%;
    text-align: center;
    align-self: center;
    padding: 10px;
    overflow-y: auto; 
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.instructions-container h3{
    position: static;
}


.diy-btn {
    background-color: #4c8994;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.diy-btn:hover {
    cursor: pointer;
}

.diy-btn:active {
    cursor: pointer;
    box-shadow: 2px 2px 5px #4c8994;
    position: relative;
    top: 2px;
    left: 2px;
}

.holder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
   
}

/* Media Query for laptops */
@media only screen and (max-width: 1366px) {
    .container1 {
        width: 90%;
    }
    


    .inner-container1,
    .inner-container1-list,
    .selected-drink-image,
    .big-inner2-instructions,
    .instructions-container {
        width: 50%;
    }

    .big-inner2-instructions h3 {
        position: static;
    }
    
    .holder {
        gap: 2em;
    }
}

@media only screen and (max-width: 867px) {
    .container1 {
        width: 90%;
    }

    .inner-container1,
    .inner-container1-list,
    .selected-drink-image,
    .big-inner2-instructions,
    .instructions-container {
        width: 80%;
    }

    .selected-drink-image {
        position: relative;
        top: 20px;

    }

    .ingredients-measurements {
        position: relative;
        top: 40px;
        min-height: 500px;
    }

    .big-inner2-instructions h3 {
        visibility: hidden;
    }
    
    .holder {
        gap: 2em;
        display: none;
    }
}


/* Media Query for tablets */
@media only screen and (max-width: 768px) {
    .container1 {
        width: 90%;
    }

    .inner-container1,
    .inner-container1-list,
    .selected-drink-image,
    .big-inner2-instructions,
    .instructions-container {
        width: 80%;
    }

    .big-inner2-instructions{
        position: relative;
        top: 50px;
    }

    .selected-drink-image {
        position: relative;
        top: 80px;

    }

    /* .big-inner1,
    .big-inner2 {
        height: 30%;
    } */

    /* .big-inner2 {
        flex-direction: row;
    } */

    .big-inner2-instructions h3 {
        visibility: hidden;
    }
    
    .holder {
        gap: 2em;
        position: absolute;
        display: none;
    }
}

@media only screen and (max-width: 375px) {
    .container1 {
        width: 90%;
    }

    .inner-container1,
    .inner-container1-list,
    .selected-drink-image,
    .big-inner2-instructions,
    .instructions-container {
        width: 100%;
    }

    .instructions-container{
        display: none;
    }

    .selected-drink-image {
       display: none;
    }

    .ingredients-measurements {
        margin-top: 20px;
    }

    .big-inner2-instructions h3 {
        visibility: hidden;
    }
    .big-inner2-instructions{
        position: relative;
        bottom: 400px;
    }

    .ingredients-measurements{
        position: absolute;
        top: -20px;
    }
    
    .holder {
        gap: 2em;
        display: none;
    }

    .big-inner1,
    .big-inner2 {
        flex-direction: column;
        align-items: center;
        height: 60%;
    }
    .big-inner2{
        height: 30%;
    }

    .inner-container1 {
        margin-bottom: 20px;
    }
}
