.main2 {
    height: 100%;
    width: 100%;
    background-color: #1c1e26;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container2 {
    background-color: #e6e1e1;
    height: 567px;
    width: 80%;
    border-radius: 50px;
    margin: 3em;
    
}

.container2 h1 {
    text-align: center;
}
.container2 h2 {
    text-align: center;
}

.inner-container2{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    height: 80%;
    width: 100%;
    overflow: auto;
}

.form1 {
    width: 50%;
    height: 75%;
    display: flex;
    flex-direction: column;
    border-right: 4px double maroon;
    overflow: auto;
}

.form1 p {
    position: relative;
    bottom: 1em;
    text-align: left;
    padding: 0 3em 3em;
    overflow: auto;
}

.container2 ul {
    list-style-type: none;
    padding: 0;
    text-align: justify;
    position: relative;
    left: 6.5em;
}

.backgroundContainer{
    height: 40vh;
    width: 40%;
    /* border-radius: 100px;
    margin: 3em;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backgroundContainer img {
    transform: scale(.4);
    border: #1c1e26 solid 1px;
    border-radius: 100px;
    position: absolute;
   margin-top: 35px;
}

.image{
    width: 50%;
    height: 75%;
    display: flex;
    flex-direction: column;
    
    overflow: auto;
}

.list-holders {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.list-holders ul {
    padding-right: 3em;
    margin-top: 0;
    /* position: relative;
    bottom: 1em;
    text-align: left;
    padding: 0 3em 3em;
    overflow: auto; */
}

.cod-btn {
    background-color:  #4c8994;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .cod-btn:hover {
    cursor: pointer;
  }
  
  .cod-btn:active {
    cursor: pointer;
    box-shadow: 2px 2px 5px #358a7c;
    position: relative;
    top: 2px;
    left: 2px;
  }