html {
  scroll-behavior: smooth;
}

.scroller {
  height: 100vh; /* Use full viewport height */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroller section {
  scroll-snap-align: start;
}
